
<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

In [2]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Para trabajar con datos de tipo fecha
# ------------------------------------------------------------------------------
from datetime import datetime

# Para trabajar con Mongo
# ------------------------------------------------------------------------------
import pymongo

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [3]:
# lo primero que tenemos que hacer es conectarnos con Mongo
cliente = pymongo.MongoClient()
print(cliente)

# como la conexión se ha realizado con éxito vamos a ver las bases de datos que tenemos
cliente.list_database_names()

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

['Airbnb', 'Companies', 'admin', 'config', 'local']

In [4]:
# nos conectamos con una BBDD 
companies = cliente['Companies']

#Veamos además las colecciones de la BBDD, usando el método 'list_collection_names()'
companies.list_collection_names()

['Company']

In [5]:
compa = companies['Company']

In [27]:
df = pd.DataFrame(compa.find())
df.head(2)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,2005.0,10.0,17.0,1.0,"wiki, seattle, elowitz, media-industry, media-...",,info@wetpaint.com,206.859.6300,Technology Platform Company,2007-05-25 06:51:27,Sun Dec 08 07:15:44 UTC 2013,<p>Wetpaint is a technology platform company t...,"{'available_sizes': [[[150, 75], 'assets/image...","[{'name': 'Wikison Wetpaint', 'permalink': 'we...","[{'is_past': False, 'title': 'Co-Founder and V...","[{'competitor': {'name': 'Wikia', 'permalink':...",[],$39.8M,"[{'id': 888, 'round_code': 'a', 'source_url': ...",[],"{'price_amount': 30000000, 'price_currency_cod...",[],"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,52cdef7c4bab8bd675297d8b,AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,1996.0,NaN,NaN,2.0,,Zoho ManageEngine,pr@adventnet.com,925-924-9500,Server Management Software,2007-05-25 19:24:22,Wed Oct 31 18:26:09 UTC 2012,"<p>AdventNet is now <a href=""/company/zoho-man...","{'available_sizes': [[[150, 55], 'assets/image...",[],"[{'is_past': True, 'title': 'CEO and Co-Founde...",[],"[{'title': 'DHFH', 'is_past': True, 'provider'...",$0,[],[],None,[],"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN

### 1. Todas las empresas cuyo nombre sea 'Babelgum'. Recupera solo su campo `name`.

In [15]:
name_df = pd.DataFrame(compa.find({'name':'Babelgum'},{'_id':0,'name':1}))
name_df

       name
0  Babelgum

### 2. Todas las empresas que tienen más de 5000 empleados. Limita la búsqueda a 20 empresas y ordénalas por **número de empleados**.

In [21]:
employee_df = pd.DataFrame(compa.find({'number_of_employees':{'$gt':5000}}).limit(20).sort('number_of_employees',-1))
employee_df.head(1)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd67529941a,Siemens,siemens,http://www.crunchbase.com/company/siemens,http://www.siemens.com,,,Siemens,hardware,405000,1847.0,NaN,NaN,None,None,None,None,"automation, building-technologies, drive-techn...",,contact@siemens.com,49 89 636 34134,Electronics and Electrical Engineering,Thu Jul 31 09:29:43 UTC 2008,Thu Nov 28 20:32:55 UTC 2013,"<p>Siemens AG, an electronics and electrical e...","{'available_sizes': [[[150, 34], 'assets/image...",[],"[{'is_past': False, 'title': 'Chairman, Superv...",[],"[{'title': 'Application Development', 'is_past...",$8.9M,"[{'id': 17062, 'round_code': 'grant', 'source_...",[],None,"[{'price_amount': 418000000, 'price_currency_c...","[{'description': '', 'address1': 'Wittelsbache...","[{'id': 35852, 'description': 'Siemens Receive...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe width=""420"" height=""3...","[{'available_sizes': [[[150, 92], 'assets/imag...",[],[]

In [22]:
len(employee_df)

20

### 3. Todas las empresas fundadas entre 2000 y 2005, incluyendo ambos años. Recupera solo los campos `name` y `founded_year`.

In [25]:
year_df = pd.DataFrame(compa.find({'$and':[{'founded_year':{'$gte':2000}},#Mayor igual 2000
                                           {'founded_year':{'$lte':2005}}]},#Menor igual 2005
                                           {'_id':0,'name':1,'founded_year':1}))#Mostrar name y founded solo
year_df

                name  founded_year
0           Wetpaint          2005
1               Zoho          2005
2               Digg          2004
3           Facebook          2004
4          Omnidrive          2005
...              ...           ...
3729  EnterSys Group          2000
3730  Axon Solutions          2004
3731         Intergy          2003
3732      AfterLogic          2002
3733       EnteGreat          2000

[3734 rows x 2 columns]

### 4. Todas las empresas que tuvieron una valoración de más de 100.000.000 y que fueron fundadas antes de 2010. Recupera solo los campos `name` e `ipo`.

In [56]:
rating_df = pd.DataFrame(compa.find({'$and':[{'ipo.valuation_amount':{'$gt':100000000}},#Mayor igual 100000000
                                           {'founded_year':{'$lt':2010}}]},#Menor igual 2010
                                           {'_id':0,'name':1,'ipo':1}))#Mostrar name y founded solo
rating_df1 = rating_df["name"]
rating_df2 = rating_df["ipo"].apply(pd.Series)
rating_df = pd.concat([rating_df1, rating_df2], axis=1)
# Renombrar las columnas correctamente
rating_df.rename(columns={0: "name",1: "valuation_amount",2: "valuation_currency_code",
                          3: "pub_year",4: "pub_month",5: "pub_day",6: "stock_symbol"}, inplace=True)
rating_df.head()

,name,valuation_amount,valuation_currency_code,pub_year,pub_month,pub_day,stock_symbol
0,Facebook,104000000000,USD,2012.0,5.0,18.0,NASDAQ:FB
1,Twitter,18100000000,USD,2013.0,11.0,7.0,NYSE:TWTR
2,Yelp,1300000000,USD,2012.0,3.0,2.0,NYSE:YELP
3,LinkedIn,9310000000,USD,2011.0,7.0,20.0,NYSE:LNKD
4,Amazon,100000000000,USD,1997.0,5.0,NaN,NASDAQ:AMZN

### 5. Todas las empresas que tienen menos de 1000 empleados y que fueron fundadas antes de 2005. Ordénalas por el número de empleados y limita la búsqueda a 10 empresas.

In [63]:
employee_df = pd.DataFrame(compa.find({'$and':[{'number_of_employees':{'$lt':1000}},#Menor que 1000
                                           {'founded_year':{'$lt':2005}}]}).limit(10).sort('number_of_employees',1))
employee_df.head(1)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297dbc,Skype,skype,http://www.crunchbase.com/company/skype,http://www.skype.com,http://blogs.skype.com,http://feeds.feedburner.com/shareskypeen,skype,software,0,2003,8.0,NaN,NaN,NaN,NaN,,"phone, voip, sweden, skype",,,94117733,VoIP Software,Tue Jul 03 05:20:31 UTC 2007,Wed Dec 11 13:03:57 UTC 2013,<p>Skype is a software application that allows...,"{'available_sizes': [[[150, 66], 'assets/image...","[{'name': 'Skype', 'permalink': 'skype'}, {'na...","[{'is_past': False, 'title': 'CEO', 'person': ...","[{'competitor': {'name': 'fring Ltd', 'permali...","[{'title': '', 'is_past': False, 'provider': {...",$76.8M,"[{'id': 79, 'round_code': 'b', 'source_url': '...","[{'funding_round': {'round_code': 'a', 'source...","{'price_amount': 2600000000, 'price_currency_c...","[{'price_amount': 150000000, 'price_currency_c...","[{'description': 'Global HQ', 'address1': '23-...","[{'id': 552, 'description': 'Skype released pu...",None,"[{'embed_code': '<iframe src=""http://blip.tv/p...","[{'available_sizes': [[[150, 130], 'assets/ima...",[{'external_url': 'http://www.ewdn.com/2011/06...,[]

### 6. Todas las empresas que no incluyen el campo `partners`.

In [65]:
partners_df = pd.DataFrame(compa.find({"partners":{"$nin":["Company"]}}))
partners_df.head(1)W

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,2005.0,10.0,17.0,1.0,"wiki, seattle, elowitz, media-industry, media-...",,info@wetpaint.com,206.859.6300,Technology Platform Company,2007-05-25 06:51:27,Sun Dec 08 07:15:44 UTC 2013,<p>Wetpaint is a technology platform company t...,"{'available_sizes': [[[150, 75], 'assets/image...","[{'name': 'Wikison Wetpaint', 'permalink': 'we...","[{'is_past': False, 'title': 'Co-Founder and V...","[{'competitor': {'name': 'Wikia', 'permalink':...",[],$39.8M,"[{'id': 888, 'round_code': 'a', 'source_url': ...",[],"{'price_amount': 30000000, 'price_currency_cod...",[],"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN

### 7. Todas las empresas que tienen un valor nulo en el campo `category_code`.

In [70]:
category_df = pd.DataFrame(compa.find({"category_code":None}))
category_df.head(1)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd6752980f6,Collective,collective,http://www.crunchbase.com/company/collective,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,Thu Sep 26 13:15:02 UTC 2013,Thu Sep 26 13:15:02 UTC 2013,None,None,[],[],[],[],$0,[],[],None,[],[],[],None,[],[],[],[]

### 8. Todas las empresas que tienen al menos 100 empleados pero menos de 1000. Recupera solo los campos `name` y `number of employees`.

In [72]:
employee2_df = pd.DataFrame(compa.find({'$and':[{'number_of_employees':{'$gte':100}},#Menor que 1000
                                           {'number_of_employees':{'$lt':1000}}]},{'_id':0,'name':1,'number_of_employees':1}))

employee2_df

                      name  number_of_employees
0                AdventNet                  600
1                  AddThis                  120
2                    OpenX                  305
3                 LifeLock                  644
4                    Jajah                  110
..                     ...                  ...
912  UOL (Universo Online)                  500
913               NextLabs                  100
914      OfficialVirtualDJ                  102
915          Willdan Group                  385
916                   QSGI                  164

[917 rows x 2 columns]

### 9. Ordena todas las empresas por su precio de IPO en orden descendente.

In [78]:
ipo_df = pd.DataFrame(compa.find().sort("ipo.valuation_amount",-1))
ipo_df.head(1)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7e4bab8bd67529a8b4,GREE,gree,http://www.crunchbase.com/company/gree,http://www.gree-corp.com,,,gree_corp,games_video,700.0,2004.0,12.0,7.0,NaN,NaN,NaN,None,"mobile-web, japan, tokyo, social-network, mobi...",None,inquiry@gree-corp.com,,"Internet media business,SNS, free game",Sat Dec 20 16:42:57 UTC 2008,Tue Jan 01 21:37:04 UTC 2013,<p>GREE provides Japan&#8217;s leading mobile ...,"{'available_sizes': [[[150, 61], 'assets/image...",[],"[{'is_past': False, 'title': 'CEO', 'person': ...","[{'competitor': {'name': 'Mobage-town', 'perma...",[],¥464M,"[{'id': 18872, 'round_code': 'unattributed', '...","[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': 104000000, 'price_currency_c...","[{'description': 'Headquarters', 'address1': '...","[{'id': 1021, 'description': 'IPO', 'stoned_ye...","{'valuation_amount': 108960000000, 'valuation_...",[],"[{'available_sizes': [[[133, 150], 'assets/ima...",[],[]

### 10. Recupera las 10 empresas con más empleados, ordenadas por el `número de empleados`.

In [81]:
employee3_df = pd.DataFrame(compa.find().sort("number_of_employees",-1).limit(10))
employee3_df.head(1)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd67529941a,Siemens,siemens,http://www.crunchbase.com/company/siemens,http://www.siemens.com,,,Siemens,hardware,405000,1847,NaN,NaN,None,None,None,None,"automation, building-technologies, drive-techn...",,contact@siemens.com,49 89 636 34134,Electronics and Electrical Engineering,Thu Jul 31 09:29:43 UTC 2008,Thu Nov 28 20:32:55 UTC 2013,"<p>Siemens AG, an electronics and electrical e...","{'available_sizes': [[[150, 34], 'assets/image...",[],"[{'is_past': False, 'title': 'Chairman, Superv...",[],"[{'title': 'Application Development', 'is_past...",$8.9M,"[{'id': 17062, 'round_code': 'grant', 'source_...",[],None,"[{'price_amount': 418000000, 'price_currency_c...","[{'description': '', 'address1': 'Wittelsbache...","[{'id': 35852, 'description': 'Siemens Receive...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe width=""420"" height=""3...","[{'available_sizes': [[[150, 92], 'assets/imag...",[],[]

### 11. Todas las empresas fundadas en el segundo semestre del año. Limita tu búsqueda a 1000 empresas.

In [85]:
company_df = pd.DataFrame(compa.find({'$and':[{'founded_month':{'$gte':6}},#Menor que 1000
                                           {'founded_month':{'$lte':12}}]}).limit(1000))

company_df.head(1)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,2005,10,17.0,1.0,"wiki, seattle, elowitz, media-industry, media-...",,info@wetpaint.com,206.859.6300,Technology Platform Company,2007-05-25 06:51:27,Sun Dec 08 07:15:44 UTC 2013,<p>Wetpaint is a technology platform company t...,"{'available_sizes': [[[150, 75], 'assets/image...","[{'name': 'Wikison Wetpaint', 'permalink': 'we...","[{'is_past': False, 'title': 'Co-Founder and V...","[{'competitor': {'name': 'Wikia', 'permalink':...",[],$39.8M,"[{'id': 888, 'round_code': 'a', 'source_url': ...",[],"{'price_amount': 30000000, 'price_currency_cod...",[],"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN

### 12. Todas las empresas fundadas antes del año 2000 que tienen un monto de adquisición superior a 10.000.000.

In [86]:
company2_df = pd.DataFrame(compa.find({'$and':[{'founded_year':{'$lt':2000}},
                                           {'acquisition.price_amount':{'$gt':10000000}}]}))

company2_df.head(1)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297d90,Postini,postini,http://www.crunchbase.com/company/postini,http://postini.com,,,None,web,NaN,1999,6.0,2.0,NaN,NaN,NaN,None,,None,,888.584.3150,None,Fri Jun 08 12:19:51 UTC 2007,Sat Aug 13 18:02:34 UTC 2011,<p>Postini focuses on two main issues: securit...,"{'available_sizes': [[[150, 61], 'assets/image...","[{'name': 'Postini Solutions', 'permalink': 'p...","[{'is_past': False, 'title': 'Board', 'person'...","[{'competitor': {'name': 'RescueTime', 'permal...",[],$0,[],[],"{'price_amount': 625000000, 'price_currency_co...",[],"[{'description': None, 'address1': '959 Skyway...",[],None,[],[],[],[]

### 13. Todas las empresas que han sido adquiridas después de 2010, ordénalas por el monto de adquisición, y recupera solo los campos `name` y `acquisition`.

In [89]:
company2_df = pd.DataFrame(compa.find({'acquisition.acquired_year':{'$gt':2010}},{"_id":0,"name":1,"acquisition":1}))
company2_df.head(1)

       name                                        acquisition
0  Wetpaint  {'price_amount': 30000000, 'price_currency_cod...

### 14. Ordena las empresas por su `founded year`, recuperando solo los campos `name` y `founded year`.

In [ ]:
company3_df = pd.DataFrame(compa.find({'acquisition.acquired_year':{'$gt':2010}},{"_id":0,"name":1,"acquisition":1}))
company3_df.head(1)

### 15. Todas las empresas que han sido fundadas en los primeros siete días del mes, incluyendo el séptimo. Ordénalas por su `acquisition price` en orden descendente. Limita la búsqueda a 10 documentos.

In [93]:
company4_df = pd.DataFrame(compa.find({'founded_day':{'$lte':7}}).sort("acquisition.price_amount",-1).limit(10))
company4_df.head(1)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7d4bab8bd6752989a1,Netscape,netscape,http://www.crunchbase.com/company/netscape,http://netscape.aol.com,,,,software,NaN,1994,4,4,NaN,NaN,NaN,None,None,,,,,Tue May 06 00:27:28 UTC 2008,Thu Nov 14 00:57:06 UTC 2013,<p>Netscape Communications Corporation offers ...,"{'available_sizes': [[[150, 40], 'assets/image...",[],"[{'is_past': False, 'title': 'Chief Scientist'...",[],[],$0,"[{'id': 20468, 'round_code': 'c', 'source_url'...",[],"{'price_amount': 4200000000, 'price_currency_c...",[],"[{'description': '', 'address1': '466 Ellis St...",[],None,[],[],[],[]

### 16. Todas las empresas en la categoría 'web' que tienen más de 4000 empleados. Ordénalas por la cantidad de empleados en orden ascendente.

In [99]:
company5_df = pd.DataFrame(compa.find({'$and':[{'category_code':{'$eq':"web"}},
                                           {'number_of_employees':{'$gt':4000}}]}).sort('number_of_employees',-1))
company5_df.head(2)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd6752982a8,Experian,experian,http://www.crunchbase.com/company/experian,http://www.experian.com,http://www.experian.com/blogs/news/,,ExperianMkt,web,15500,1980,NaN,NaN,None,None,None,None,"credit, creditreport",,,(714) 830-7000,,Tue Feb 12 23:03:11 UTC 2008,Sat Dec 21 20:19:52 UTC 2013,<p>Experian (formerly known as CCN Systems) is...,"{'available_sizes': [[[150, 55], 'assets/image...","[{'name': 'Business IQ', 'permalink': 'busines...","[{'is_past': False, 'title': 'CEO Experian Nor...","[{'competitor': {'name': 'Equifax', 'permalink...","[{'title': '', 'is_past': False, 'provider': {...",$0,[],[],None,"[{'price_amount': None, 'price_currency_code':...","[{'description': None, 'address1': '475 Anton ...","[{'id': 11547, 'description': 'Experian Buys I...",None,[],"[{'available_sizes': [[[150, 93], 'assets/imag...",[{'external_url': 'http://experian-careers.com...,[]
1,52cdef7c4bab8bd675297d9b,eBay,ebay,http://www.crunchbase.com/company/ebay,http://ebay.com,,,eBay,web,15000,1995,9.0,1.0,None,None,None,None,"auction, bid, search, market",,,,Online Marketplace,Wed Jun 06 13:03:13 UTC 2007,Tue Sep 10 03:38:03 UTC 2013,"<p>Founded in 1995 in San Jose, CA, eBay conne...","{'available_sizes': [[[150, 62], 'assets/image...","[{'name': 'eBay Marketplace', 'permalink': 'eb...","[{'is_past': False, 'title': 'Founder', 'perso...","[{'competitor': {'name': 'Taobao', 'permalink'...","[{'title': 'Public Relations', 'is_past': Fals...",$6.7M,"[{'id': 24534, 'round_code': 'unattributed', '...","[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': 1500000000, 'price_currency_...","[{'description': 'Headquarters', 'address1': '...","[{'id': 7107, 'description': 'eBay Q2 Revenue ...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe width=""370"" height=""3...","[{'available_sizes': [[[150, 71], 'assets/imag...",[],[]

### 17. Todas las empresas cuyo monto de adquisición es superior a 10.000.000, y cuya moneda es 'EUR'.

In [101]:
company6_df = pd.DataFrame(compa.find({'$and':[{'acquisition.price_amount':{'$gt':10000000}},
                                           {'acquisition.price_currency_code':{'$eq':"EUR"}}]}))
company6_df.head(2)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297f02,ZYB,zyb,http://www.crunchbase.com/company/zyb,http://zyb.com,http://blog.zyb.com/,http://blog.zyb.com/index.php/feed/,None,mobile,25.0,NaN,NaN,NaN,None,None,None,None,"mobile, social-networking, socialnetwork",,contact@zyb.com,,Mobile Social Networking,Wed Aug 22 05:14:51 UTC 2007,Tue Jul 02 03:00:50 UTC 2013,<p>ZYB is a mobile phone utility and social ne...,"{'available_sizes': [[[32, 32], 'assets/images...","[{'name': 'ZYB | Phone', 'permalink': 'zyb-pho...","[{'is_past': None, 'title': 'CEO and Co-Founde...","[{'competitor': {'name': 'Twitter', 'permalink...","[{'title': '', 'is_past': True, 'provider': {'...",€3M,"[{'id': 389, 'round_code': 'a', 'source_url': ...",[],"{'price_amount': 31500000, 'price_currency_cod...","[{'price_amount': None, 'price_currency_code':...","[{'description': None, 'address1': 'Esromgade ...",[],None,[],[],[],[]
1,52cdef7d4bab8bd675298bf3,Apertio,apertio,http://www.crunchbase.com/company/apertio,http://www.apertio.com,,,None,mobile,NaN,NaN,NaN,NaN,None,None,None,None,,None,,,None,Tue May 27 07:08:56 UTC 2008,Fri Aug 28 23:39:22 UTC 2009,"<p>Apertio One provides a single, open, subscr...","{'available_sizes': [[[150, 41], 'assets/image...",[],"[{'is_past': True, 'title': 'VP Business Devel...",[],[],$30M,"[{'id': 2405, 'round_code': 'b', 'source_url':...",[],"{'price_amount': 140000000, 'price_currency_co...",[],"[{'description': None, 'address1': '', 'addres...",[],None,[],[],[],[]

### 18. Todas las empresas que han sido adquiridas en el primer trimestre del año. Limita la búsqueda a 10 empresas, y recupera solo los campos `name` y `acquisition`.

In [103]:
company7_df = pd.DataFrame(compa.find({'founded_month':{'$lte':3}},{"_id":0,"name":1,"acquisition":1}).limit(10))
company7_df.head()

          name                                        acquisition
0     Facebook                                               None
1      Twitter                                               None
2  StumbleUpon  {'price_amount': 29000000, 'price_currency_cod...
3       Gizmoz  {'price_amount': None, 'price_currency_code': ...
4        Helio  {'price_amount': 39000000, 'price_currency_cod...